{% extends 'base_fr.html' %}

{% load static %}

{% block content %}
<section id="profil">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 offset-xl-11"><a href="#">Modifier votre profil</a></div>
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Profil de {{ user.username }}</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-xl-flex align-items-xl-center" style="padding-top: 5%;padding-right: 5%;padding-bottom: 5%;padding-left: 5%;">
            <div style="width: 75%;"><img class="img-thumbnail bg-warning border rounded-0 shadow-sm" src="assets/img/43477020.jpg" style="max-width: 250px;"><span style="font-size: 30px;font-family: 'Droid Serif';font-weight: bold;">&nbsp;Point :
                    {{user.profile.total_points}}</span></div>
            <div><a class="btn" role="button" data-toggle="modal" href="#payement" style="font-size: 30px;"><i class="fa fa-times" style="font-size: 30px;color: rgb(255,8,8);"></i>&nbsp;Payer</a></div>
        </div>
    </div>
    <div class="row" style="padding-bottom: 2%;">
        <div class="col text-center"><span style="font-size: 40px;font-weight: bold;">Historique</span></div>
    </div>
    <div class="row" style="padding-right: 5%;padding-left: 5%;">
        <div class="col">
            <div class="table-responsive table-borderless">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-md-3">Gagnant</th>
                            <th class="col-md-3">Perdant</th>
                            <th class="col-md-3">Score</th>
                            <th class="col-md-3">Date</th>
                        </tr>
                    </thead>
                    {% for history_entry in user.profile.history %}
                    <tbody>
                        <tr>
                            <td>{{ history_entry.winner.username }}</td>
                            <td>{{ history_entry.looser.username }}</td>
                            <td>{{ history_entry.winner_points }} - {{ history_entry.looser_points }}</td>
                            <td>{{ history_entry.date_played|date:"d/m/Y - G:i" }}</td>
                        </tr>
                    </tbody>
                    {% empty %}
                    <tbody>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
