{% extends 'base.html' %}

{% block content %}
    <section id="profil">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 offset-xl-11"><a href="#">Modifier votre profil</a></div>
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Profil de {{ user.username }}</h2>
                    <h3 class="text-muted section-subheading">Lorem ipsum dolor sit amet consectetur</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-xl-flex align-items-xl-center" style="padding-right: 5%;padding-left: 5%;padding-bottom: 5%;">
                <div style="width: 75%;"><img class="img-thumbnail bg-warning border rounded-0 shadow-sm" src="assets/img/43477020.jpg" style="max-width: 250px;"><span style="font-size: 30px;font-family: 'Droid Serif';font-weight: bold;">&nbsp;point : {point_total}</span></div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 2%;">
            <div class="col text-center"><span style="font-size: 40px;font-weight: bold;">Historique</span></div>
        </div>
        <div class="row" style="padding-right: 5%;padding-left: 5%;">
            <div class="col">
                <div class="table-responsive table-borderless">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Partie jouées</th>
                                <th>Column 2</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cell 1</td>
                                <td>Cell 2</td>
                            </tr>
                            <tr>
                                <td>Cell 3</td>
                                <td>Cell 4</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="table-responsive table-borderless">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Column 1</th>
                                <th>Column 2</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cell 1</td>
                                <td>Cell 2</td>
                            </tr>
                            <tr>
                                <td>Cell 3</td>
                                <td>Cell 4</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="table-responsive table-borderless">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Column 1</th>
                                <th>Column 2</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cell 1</td>
                                <td>Cell 2</td>
                            </tr>
                            <tr>
                                <td>Cell 3</td>
                                <td>Cell 4</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
