<!DOCTYPE html>
<html>

{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Fifa-Covid19 tournament</title>
    <meta property="og:type" content="website">
    <meta property="og:image" content="{% static 'img/preview' %}">
    <meta name="description" content="FIFA-toernooi om geld in te zamelen tegen covid-19">
    <meta property="og:title" content="Fifa-Covid19 tournament">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome5-overrides.min.css' %}">
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-md fixed-top" {% if should_be_dark %}style="background-color: rgb(33, 37, 41)" {% endif %} id="mainNav">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" href="{% url 'home_view' lang %}" style="width: 300px;max-width: 300px;">
                        <img src="{% static 'img/logo.svg' %}" style="max-width: 300px;">
                    </a>
                </li>
            </ul>
            <button data-toggle="collapse" data-target="#menu" class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
                <span style="font-family: Montserrat, sans-serif;font-weight: bold;">&nbsp;Menu</span>
            </button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav mx-auto text-uppercase">
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{% url 'home_view' lang %}#about">Info</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{% url 'home_view' lang %}#team">Bijdragers</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{% url 'home_view' lang %}#services">Praktische info</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'scoreboard_view' lang 'choose' %}">Scoreboard</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{% url 'home_view' lang %}#contact">Contact</a></li>
                </ul>
                <span class="border rounded-0 border-warning navbar-text text-nowrap" style="color: #ffffff;font-family: Montserrat, sans-serif;">
                    &nbsp;Geregistreerd : {{ nb_inscrits }}&nbsp;
                </span>
            </div>
            <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" type="button" data-toogle="collapse" data-target="#login" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
                <span style="font-family: Montserrat, sans-serif;font-weight: bold;">&nbsp;Login</span>
            </button>
            <div class="collapse navbar-collapse" id="login" style="max-width: 250px;">
                <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'profile_view' lang %}">{{ user.username }}</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'disconnect_view' lang %}">Uitloggen</a></li>
                    {% else %}
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'login_view' lang %}">Login</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'register_view' lang %}">Inschrijven</a></li>
                    {% endif %}
                </ul>
            </div>
            <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" type="button" data-toogle="collapse" data-target="#langue" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
                <span style="font-family: Montserrat, sans-serif;font-weight: bold;">&nbsp; Taal</span>
            </button>
            <div class="collapse navbar-collapse" id="langue" style="max-width: 140px;">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'home_view' 'fr' %}" style="font-size: 13px;">FR</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'home_view' 'nl' %}" style="font-size: 13px;">NL</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'home_view' 'en' %}" style="font-size: 13px;">EN</a></li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
    <section id="contact" style="background-image:url('{% static 'img/map-image.png' %}');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Aarzel niet om ons te contacteren!</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form id="contactForm" name="contactForm" method="post" action="{% url 'contact' lang %}">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col col-md-6">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="name" id="name" placeholder="Naam *" required="">
                                    <small class="form-text text-danger flex-grow-1 help-block lead"></small>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="email" name="email" id="email" placeholder="Email *" required="">
                                    <small class="form-text text-danger help-block lead"></small>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="tel" name="phone" placeholder="Telefoon *" required="">
                                    <small class="form-text text-danger help-block lead"></small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" id="message" name="text" placeholder="Uw message *" required="">
                                    </textarea>
                                    <small class="form-text text-danger help-block lead"></small>
                                </div>
                            </div>
                            <div class="col">
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit">
                                    Verstuur bericht
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
              <div class="col-md-4 align-self-center">
                <ul class="list-inline social-buttons">
                  <li class="list-inline-item"><a href="https://www.facebook.com/events/3124778680913570/"><i
                        class="fa fa-facebook"></i></a></li>
                  <li class="list-inline-item"><a href="https://discord.gg/F7yVDpx"><i class="fab fa-discord"></i></a></li>
                </ul>
              </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item"><a href="#">Privacybeleid</a></li>
                        <li class="list-inline-item"><a href="#">Gebruiksvoorwaarden</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{% static 'js/script.min.js' %}"></script>
    <script src="{% static 'js/agency.js' %}"></script>
</body>

</html>
