{% extends 'base_fr.html' %}

{% load static %}

{% block content %}
<header class="masthead" style="background-image: url(&quot;assets/img/bg_index.jpg&quot;);">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in"><span>Bienvenue</span></div>
      <div class="intro-heading text-uppercase"><span>Tournoi&nbsp;<strong>caritatif &nbsp;fifa20</strong></span>
        <div class="intro-lead-in" style="padding-top: 2%;"><span style="font-weight: normal;font-family: 'Roboto Slab', serif;font-style: normal;">xbox &amp; ps4</span></div>
      </div>
      <div class="intro-heading text-uppercase">
        <div class="row">
          <div class="col-6 col-md-3 mt-3">
            <p id="jours" class="number-days m-0 rounded-top" style="color: #ffffff;font-size: 80px;"></p>
            <p class="text-countdown rounded-bottom" style="color: #214a80;background-color: #ffffff;">Jours</p>
          </div>
          <div class="col-6 col-md-3 mt-3">
            <p id="heures" class="number-hours m-0 rounded-top"></p>
            <p class="text-countdown rounded-bottom" style="color: #214a80;background-color: #ffffff;">heures</p>
          </div>
          <div class="col-6 col-md-3 mt-3">
            <p id="minute" class="number-minutes m-0 rounded-top" style="color: #ffffff;"></p>
            <p class="text-countdown rounded-bottom" style="color: #214a80;background-color: #ffffff;">minutes</p>
          </div>
          <div class="col-6 col-md-3 mt-3">
            <p id="secondes" class="number-seconds m-0 rounded-top" style="color: #ffffff;"></p>
            <p class="text-countdown rounded-bottom" style="background-color: #ffffff;color: #214a80;">secondes</p>
          </div>
          <div class="col-12 mb-3" style="margin-bottom: 0px;margin-top: 50px;">
            <div class="d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center"></div>
            <div class="d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center"><span style="font-size: 40px;font-family: Montserrat, sans-serif;font-style: italic;">01 - 03 avril 2020</span>
            </div>
          </div>
        </div>
      </div><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" role="button" href="#services">Inscrivez-vous</a>
    </div>
  </div>
</header>
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="text-uppercase" style="padding-bottom: 8%;">à propos</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p style="font-style: normal;font-family: Montserrat, sans-serif;font-weight: bold;">Notre mission<br></p>
        <p>Fort est de constater qu’en cette période de confinement, le nombre de joueurs en ligne sur toutes plateformes confondues a nettement augmenté. « Restez à la maison » étant le mot d’ordre, il est donc normal de trouver d’autres
          occupations
          journalières. Alliant l’utile à l’agréable, notre mission est d’apporter une aide supplémentaire aux premières lignes touchées par le COVID19 au travers d’une compétition FIFA20. <br><br>Soutenons-les !<br><br>En première ligne,
          les hôpitaux s’apprêtent à traverser une longue crise et affronter un manque de machines respiratoires. L’hôpital CHU Saint Pierre a déjà fait un appel aux dons pour pouvoir bénéficier de nouveaux équipements étant donné le manque
          de budget à l’heure actuelle. <br><br>Comme marque de soutien à l’ensemble du corps médical, nous reverserons l’intégralité des frais d’inscription perçus à CHU Saint Pierre. <br><br>Ce simple petit geste ne représente peut-être
          pas grand-chose à vos yeux mais apporter tous ensemble notre pierre à l’édifice peut créer un impact quel qu’il soit.<br><br></p>
      </div>
      <div class="col" style="padding-top: 2%;margin-left: 5%;">
        <div class="row row-cols-2">
          <div class="col"><i class="fa fa-trophy" style="color: rgb(254,209,54);font-size: 40px;"></i><span class="d-block"
              style="margin-top: 10px;margin-bottom: 10px;font-family: Montserrat, sans-serif;font-weight: bold;font-size: 18px;">QUALIFICATIONS<br></span>
            <span class="d-block" style="margin-top: 10px;margin-bottom: 10px;font-size: 17px;font-style: oblique;font-family: Montserrat, sans-serif;">01 - 02 avril 2020<br></span>
            <p>Les joueurs inscrits seront invités à débuter la phase de poule comprenant au minimum 3 matchs sur une durée de 2 jours. Les deux premiers de chaque poule passeront à la phase suivante. <br></p>
          </div>
          <div class="col"><i class="fa fa-trophy" style="color: rgb(254,209,54);font-size: 40px;"></i><span class="d-block" style="margin-top: 10px;margin-bottom: 10px;font-family: Montserrat, sans-serif;font-weight: bold;font-size: 18px;">TABLEAU
              FINAL<br></span>
            <span class="d-block" style="margin-top: 10px;margin-bottom: 10px;font-size: 17px;font-family: Montserrat, sans-serif;font-style: oblique;">03 avril 2020<br></span>
            <p>Les joueurs qualifiés seront répartis de manière fortuite dans le tableau final. Les matchs comporterons cette fois-ci prolongations et pénaltys étant donné le caractère « élimination directe » de cette phase. <br></p>
          </div>
        </div>
        <div class="row">
          <div class="col"><img src="assets/img/90532334_204577250848565_6663031741243981824_n.jpg"></div>
          <div class="col"><i class="fa fa-hand-peace-o" style="color: rgb(254,209,54);font-size: 40px;"></i><span class="d-block"
              style="margin-top: 10px;margin-bottom: 10px;font-family: Montserrat, sans-serif;font-weight: bold;font-size: 18px;">PRIX</span>
            <p>Grâce à nos sponsors, différents prix seront distribués aux top joueurs de la compétition. Pour les autres, l’éternelle reconnaissance de toute la communauté !<br></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="team" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member"><img class="rounded-circle mx-auto" src="assets/img/43477020.jpg">
          <h4>Morti</h4>
          <p class="text-muted">Lead Designer</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item"><a href="https://github.com/Mortinat"><i class="fa fa-github d-xl-flex justify-content-xl-center align-items-xl-center" style="font-size: 29px;width: 40px;height: 40px;"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member"><img class="rounded-circle mx-auto" src="assets/img/yishen.jpg">
          <h4>Yishen</h4>
          <p class="text-muted">Lead Comunication</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member"><img class="rounded-circle mx-auto" src="assets/img/44365630.jpg">
          <h4>Minigrim0</h4>
          <p class="text-muted">Lead Developer</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item"><a href="https://github.com/fgrimau"><i class="fa fa-github d-xl-flex justify-content-xl-center align-items-xl-center" style="font-size: 29px;width: 40px;height: 40px;"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="text-uppercase section-heading">Règlement</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-user-plus fa-stack-1x fa-inverse"></i></span>
        <h4 class="section-heading">Avant</h4>
        <p class="text-muted">1) Ajouter votre adversaire sur la plateforme correspondante (PS4/XBOX)<br>2) Se rendre dans « Amical en ligne » et lancer le match<br>3) Régler les paramètres*<br></p>
      </div>
      <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle d-xl-flex justify-content-xl-center align-items-xl-center fa-stack-2x text-primary"></i><i
            class="material-icons d-xl-flex justify-content-xl-center align-items-xl-center fa-stack-1x fa-inverse" style="height: 128px;font-size: 64px;">timer</i></span>
        <h4 class="section-heading">Pendant</h4>
        <p class="text-muted">Si un joueur quitte un match avant son terme, la partie est remportée par le joueur adverse par forfait avec le score de 3-0.<br></p>
      </div>
      <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-file-image-o d-xl-flex justify-content-xl-center align-items-xl-center fa-stack-1x fa-inverse"
            style="height: 128px;"></i></span>
        <h4 class="section-heading">Après</h4>
        <p class="text-muted">Le gagnant envoie une photo de l’écran de fin de match contenant le score final ainsi que l’ID des deux joueurs à info@fifa-covid19.be <br>Veillez à bien vérifier le score sur votre profil dans la rubrique « Historique
          ».<br></p>
      </div>
    </div>
    <div class="row">
      <div class="col-auto text-center mx-auto"><button class="btn btn-primary" type="button">Règlement complet</button></div>
    </div>
  </div>
</section>
{% endblock %}
