{% extends 'base_nl.html' %}

{% load static %}

{% block content %}
<header class="masthead" style="background-image: url(&quot;{% static 'img/bg_index.jpg' %}&quot;);">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in"><span>Welkom</span></div>
      <div class="intro-heading text-uppercase"><span>liefdadigheidstoernooi&nbsp;<strong> &nbsp;fifa20</strong></span>
        <div class="intro-lead-in" style="padding-top: 2%;"><span style="font-weight: normal;font-family: 'Roboto Slab', serif;font-style: normal;">xbox &amp; ps4</span></div>
      </div>
      <div class="intro-heading text-uppercase">
        <div class="row">
          <div class="col-6 col-md-3 mt-3">
            <p id="jours" class="number-days m-0 rounded-top" style="color: #ffffff;font-size: 80px;"></p>
            <p class="text-countdown rounded-bottom" style="color: #214a80;background-color: #ffffff;">dagen</p>
          </div>
          <div class="col-6 col-md-3 mt-3">
            <p id="heures" class="number-hours m-0 rounded-top"></p>
            <p class="text-countdown rounded-bottom" style="color: #214a80;background-color: #ffffff;">uren</p>
          </div>
          <div class="col-6 col-md-3 mt-3">
            <p id="minute" class="number-minutes m-0 rounded-top" style="color: #ffffff;"></p>
            <p class="text-countdown rounded-bottom" style="color: #214a80;background-color: #ffffff;">minuten</p>
          </div>
          <div class="col-6 col-md-3 mt-3">
            <p id="secondes" class="number-seconds m-0 rounded-top" style="color: #ffffff;"></p>
            <p class="text-countdown rounded-bottom" style="background-color: #ffffff;color: #214a80;">seconden</p>
          </div>
          <div class="col-12 mb-3" style="margin-bottom: 0px;margin-top: 50px;">
            <div class="d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center"></div>
            <div class="d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center"><span style="font-size: 40px;font-family: Montserrat, sans-serif;font-style: italic;">01 - 03 april 2020</span>
            </div>
          </div>
        </div>
      </div><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" role="button" href="#services">Aanmelden</a>
    </div>
  </div>
</header>
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="text-uppercase" style="padding-bottom: 8%;">Info</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p style="font-style: normal;font-family: Montserrat, sans-serif;font-weight: bold;">Onze missie<br></p>
        <p>Het is duidelijk dat tijdens deze periode van opsluiting het aantal online spelers op alle platforms samen aanzienlijk is toegenomen. 'Thuis blijven' is het sleutelwoord, dus het is normaal om anderen te vinden
          beroepen
          dagelijks. Het combineren van zaken met plezier, onze missie is om via een FIFA20-wedstrijd extra hulp te bieden aan de frontlinies die worden beïnvloed door COVID19.<br><br>Laten we ze steunen!<br><br>Op de frontlinie,
          ziekenhuizen bereiden zich voor op een lange crisis en kampen met een tekort aan ademhalingsapparatuur. Het CHU Saint Pierre-ziekenhuis heeft al om donaties verzocht om te kunnen profiteren van nieuwe apparatuur vanwege het gebrek
          budget nu.<br><br>Ter ondersteuning van de hele medische professie zullen we alle geïnde registratiekosten aan CHU Saint Pierre doneren.<br><br>Dit eenvoudige kleine gebaar vertegenwoordigt misschien niet
          niet veel in je ogen, maar het samenbrengen van onze steen kan een impact hebben, wat het ook is.<br><br></p>
      </div>
      <div class="col" style="padding-top: 2%;margin-left: 5%;">
        <div class="row row-cols-2">
          <div class="col"><i class="fa fa-trophy" style="color: rgb(254,209,54);font-size: 40px;"></i><span class="d-block"
              style="margin-top: 10px;margin-bottom: 10px;font-family: Montserrat, sans-serif;font-weight: bold;font-size: 18px;">KWALIFICATIES<br></span>
            <span class="d-block" style="margin-top: 10px;margin-bottom: 10px;font-size: 17px;font-style: oblique;font-family: Montserrat, sans-serif;">01 - 02 april 2020<br></span>
            <p>Geregistreerde spelers worden uitgenodigd om de groepsfase te starten die bestaat uit minimaal 3 wedstrijden over een periode van 2 dagen. De eerste twee van elke duivin gaan door naar de volgende fase.<br></p>
          </div>
          <div class="col"><i class="fa fa-trophy" style="color: rgb(254,209,54);font-size: 40px;"></i><span class="d-block" style="margin-top: 10px;margin-bottom: 10px;font-family: Montserrat, sans-serif;font-weight: bold;font-size: 18px;">
              FINAAL<br></span>
            <span class="d-block" style="margin-top: 10px;margin-bottom: 10px;font-size: 17px;font-family: Montserrat, sans-serif;font-style: oblique;">03 april 2020<br></span>
            <p>Gekwalificeerde spelers worden willekeurig toegewezen aan de finaletafel. De wedstrijden zullen deze keer extra tijd en straffen bevatten, gezien het "directe eliminatie" -karakter van deze fase.<br></p>
          </div>
        </div>
        <div class="row">
          <div class="col"><img src="{% static 'img/90532334_204577250848565_6663031741243981824_n.jpg' %}"></div>
          <div class="col"><i class="fa fa-hand-peace-o" style="color: rgb(254,209,54);font-size: 40px;"></i><span class="d-block"
              style="margin-top: 10px;margin-bottom: 10px;font-family: Montserrat, sans-serif;font-weight: bold;font-size: 18px;">PRIJS</span>
            <p>Dankzij onze sponsors worden er verschillende prijzen uitgedeeld aan de topspelers in de competitie. Voor anderen de eeuwige erkenning van de hele gemeenschap!<br></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="team" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'img/43477020.jpg' %}">
          <h4>Morti</h4>
          <p class="text-muted">Lead Designer</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item"><a href="https://github.com/Mortinat"><i class="fa fa-github d-xl-flex justify-content-xl-center align-items-xl-center" style="font-size: 29px;width: 40px;height: 40px;"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'img/yishen.jpg' %}">
          <h4>Yishen</h4>
          <p class="text-muted">Lead Comunication</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'img/44365630.jpg' %}">
          <h4>Minigrim0</h4>
          <p class="text-muted">Lead Developer</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item"><a href="https://github.com/fgrimau"><i class="fa fa-github d-xl-flex justify-content-xl-center align-items-xl-center" style="font-size: 29px;width: 40px;height: 40px;"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="text-uppercase section-heading">Praktische informatie</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-user-plus fa-stack-1x fa-inverse"></i></span>
        <h4 class="section-heading">Voor</h4>
        <p class="text-muted">1) Voeg je tegenstander toe op het bijbehorende platform (PS4 / XBOX)<br>2) Ga naar "Online Friendly" en start de wedstrijd<br>3) Pas de parameters* aan<br></p>
      </div>
      <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle d-xl-flex justify-content-xl-center align-items-xl-center fa-stack-2x text-primary"></i><i
            class="material-icons d-xl-flex justify-content-xl-center align-items-xl-center fa-stack-1x fa-inverse" style="height: 128px;font-size: 64px;">timer</i></span>
        <h4 class="section-heading">Tijdens</h4>
        <p class="text-muted">Als een speler een wedstrijd voor het einde verlaat, wordt de wedstrijd standaard gewonnen door de tegenstander met een score van 3-0.<br></p>
      </div>
      <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-file-image-o d-xl-flex justify-content-xl-center align-items-xl-center fa-stack-1x fa-inverse"
            style="height: 128px;"></i></span>
        <h4 class="section-heading">Na</h4>
        <p class="text-muted">De winnaar stuurt een foto van het einde van het wedstrijdscherm met de eindscore en de ID van de twee spelers naar info@fifa-covid19.be <br>Zorg ervoor dat u de score op uw profiel controleert in het gedeelte "Geschiedenis".<br></p>
      </div>
    </div>
    <div class="row">
      <div class="col-auto text-center mx-auto"><button class="btn btn-primary" type="button">*Volledige regels</button></div>
    </div>
  </div>
</section>
<section id="sponsor" class="py-5">
    <div class="container">
        <h1 class="text-center" style="font-family: Montserrat, sans-serif;margin-bottom: 5%;">Ils parlent de nous</h1>
        <div class="row">
            <div class="col-sm-6 col-md-3"><a href="#"></a></div>
            <div class="col-sm-6 col-md-3 text-center"><a href="https://www.facebook.com/aesulb/%22%3E"><img src="{% static 'img/ulb_esport.png' %}" style="width: 75%;" /></a></div>
            <div class="col-sm-6 col-md-3 text-center"><a href="https://www.facebook.com/Sport.CdS.ULB/%22%3E"><img src="{% static 'img/cds.jpg' %}" style="width: 75%;" /></a></div>
            <div class="col-sm-6 col-md-3"><a href="#"></a></div>
        </div>
    </div>
</section>
{% endblock %}
