{% extends 'base_nl.html' %}

{% load static %}

{% block content %}
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading" style="padding-bottom: 2%;">Finale</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <img src="{% static 'img/ps4_tournoi.svg' %}">
            </div>
        </div>
    </div>
</section>
{% endblock %}
